$tl: 0.6s; // transition length

.search {
    &-block {
        width: 100%;
        padding-left: 200px;
        height: fit-content;
        display: flex;
        flex-flow: column nowrap;
        grid-column-start: 1;
        grid-column-end: 3;
        gap: 15px;      
    }
    &-most-famous {
        min-width: 100%;
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
        &-header {
            color: white;
            font-size: 1.2rem;
            font-family: "SF-Pro-Display-Regular_light";
            font-weight: 100;
        }
        & li {
            list-style-type: none;
            color: rgba(255, 255, 255, 0.679);
            font-size: 1rem;
            letter-spacing: 2px;
            font-family: "SF-Pro-Display-Regular_light";
            font-weight: 100;
            &:hover {
                transition: color .5s;
                cursor: pointer;
                color: rgba(255, 255, 255, 0.734);
            }
        }
    }
}

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 800px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    font-family: "SF-Pro-Display-Regular";
    letter-spacing: 2px;
    outline: none;
    border-radius: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color: #fff;
    transition: color .15s;
    &:focus {
        &::placeholder {
            transition: color .3s;
            color: #aab984;
        }
    }
}


.input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    font-family: "SF-Pro-Display-Regular";
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: none;
}