:root {
	--primary-darker:#253671;
	--primary-darker--hover:#1a264f;
	--primary-darker--active: #3a425b;
	--primary:#3e71a2;
	--primary--hover:#aecce5;
	--primary--active:#003f58;
	--secondary-blue:#3E71A2;
	--secondary-blue--hover:#385e81;
	--secondary-blue--active:#3b536a;
	--light-blue:#89BDE0;
	--light-blue--hover:#74a1bf;
	--light-blue--active:#6f8b9e;
	--background-blue:#d5d9e7;
	--background:#f4f5f8;
	--background--hover:#89BDE0;
	--background--active:#7ba5c1;
	--background-danger--hover:#dbabbe;
	--background-danger--active:#bb96a5;

	--desktop:#003f58;
	--desktop--hover:#73a5ce;
	--desktop--inactive:#67a6e4;

	--background-list:#e9ebf1;
	--active: #CB195F;
	--active--hover: #B41956;
	--active--active: #982c57;
}