.under-tiles-logos-block {
    margin: 150px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    & img {
        padding: 0px 71px;
        border-right: 1px solid #e8e8ed;
        cursor: pointer;
        &:last-of-type {
            border-right: none;
        }
    }
}