.cards-block {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  &-item {
    display: grid;
    grid-template-rows: 3fr 1fr;
    outline: 1px solid rgb(232, 232, 236);
    padding: 100px;
    cursor: pointer;
    & img {
      justify-self: center;
      align-self: center;
    }
    &-tag {
      font-size: 1.7rem;
      letter-spacing: 2px;
      font-family: "SF-Pro-Display-Regular";
    }
    &-price {
      font-size: 1.3rem;
      color: #454545;
      font-family: "SF-Pro-Display-Regular_light";
    }
  }
  &-price-block {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
  }
}

@media (max-width: 1024px) {
  .cards-block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    &-item {
      display: grid;
      grid-template-rows: 2fr 1fr;
      outline: 1px solid rgb(232, 232, 236);
      padding: 30px;
  
      & img {
        justify-self: center;
        align-self: center;
        width: 700px;
      }
  
      &-tag {
        font-size: 1.4rem;
        letter-spacing: 1px;
        font-family: "SF-Pro-Display-Regular";
      }
  
      &-price {
        font-size: 1rem;
        color: #454545;
        font-family: "SF-Pro-Display-Regular_light";
      }
    }
  
    &-price-block {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      gap: 10px;
    }
  }
}