
.catalog-header {
    display: flex;
    flex-flow: column nowrap;
    align-self: flex-start;
    margin-left: 23vw;
    gap: 7px;
    & span{
        font-size: 1.3rem;
        font-family: "SF-Pro-Display-Regular_light";
        color: #676767;
        opacity: 0;
    }
    & h3 {
        font-size: 2.5rem;
        font-family: "SF-Pro-Display-Regular";
        font-weight: 500;
        opacity: 0;
    }
}