.footer-block {
    height: 355px;
    background-color: #121212;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-family: "SF-Pro-Display-Regular";
    letter-spacing: 1px;
    & hr{
        background-color: #505050;
        width: 65%;
    }
    &-help {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 120px;
        padding-bottom: 30px;
        width: 100%;
        font-size: 0.8rem;
        user-select: none;
        &-items {
            display: flex;
            flex-flow: column nowrap;
            gap: 15px;
            & h2 {
                font-size: 0.9rem;
            }
            & span, a {
                font-size: 0.8rem;
                color: #909090;
                cursor: pointer;
                text-decoration: none;
                &:hover {
                    color: #a4a4a4;
                }
            }
            &-first-block {
                display: grid;
                grid-template-columns: 1fr 1fr;
                &-number-address {
                    display: flex;
                    flex-flow: column wrap;
                    gap: 10px;
                    width: 200px;
                }
            }
        }
    }
    &-info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 230px;
        width: 100%;
        padding-top: 20px;
        font-size: 0.7rem;
        color: #909090;
        & span:not(:first-child):hover {
            cursor: pointer;
            user-select: none;
            color: #a4a4a4;
        }
    }
}

.subscribe-text {
    pointer-events: none;
}

.reqesits {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}